body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #fafafa;
  background: #7474BF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #348AC7, #7474BF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #348AC7, #7474BF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}

#particles-js {
  position: relative;
  height: 100vh;
  z-index: 0;
}

.container {
  position: relative;
  top: -100vh;
  text-align: center;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

h1 {
  padding-top: 5vh;
  font-weight: 300;
}

#clock {
  font-weight: 400;
  font-size: 100px;
}

#day {
  font-weight: 400;
  font-size: 40px;
}

@media (max-width:700px) {
  #clock {
    max-width: 80%;
    margin: auto;
    font-size: 4em;
    font-weight: 400;
  }

  #day {
    font-size: 2em;
  }

  img {
    margin: auto;
    max-width: 90%;
  }

}